<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BddEvernote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <userSettings>
    <BddEvernote.Properties.Settings>
      <setting name="ExistingUserName" serializeAs="String">
        <value>PleaseEnterExistingUserName</value>
      </setting>
      <setting name="ExistingUserPass" serializeAs="String">
        <value>PleaseEnterExistingUserPass</value>
      </setting>
      <setting name="NonExistingUserName" serializeAs="String">
        <value>nonexistingemail@nonexistingdomain.com</value>
      </setting>
      <setting name="NonExistingUserPass" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="DriverPathChrome" serializeAs="String">
        <value>C:/Program Files (x86)/Google/ChromeDriver</value>
      </setting>
      <setting name="WebDriverTimeout" serializeAs="String">
        <value>60</value>
      </setting>
    </BddEvernote.Properties.Settings>
  </userSettings>
</configuration>